:root{
    --white-color: "#FFFFFF"
}

*{
    margin: 0px;
    padding: 0px;
}

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.photo{
    background-image: url("/Users/aaronj/Downloads/michail-dementiev-SinEVOVewWA-unsplash.jpg");
    width: 40vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.caption{
    width: 40vw;
    height: 20vh;
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption > .wombo{
    color:white;
}

.rightSide{
    width: 60vw;
    height: 70vh;
    margin-top: 5vh;
    background-color: "#E5EAF5";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageCaption{
    width: 40vw;
    height: 20vh;
    margin-top: 10vh;
    flex-flow: row wrap;
}
 
.pageBody{
    width: 40vw;
    height: 35vh;
    box-shadow:  1px 1px 1px black;
    display: flex;
    flex-flow: column wrap;
}

.form{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 40px;
    justify-content: center;
    align-items: center;

}

.form > div{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
}

.creaAcc{
    margin-top: 3vh;
}

.alrSub{
    margin-top: 3vh;
}

span{
    color: blue;
    font-weight: bold;
}
